API_KEY=AIzaSyBYQTx9ZynQK1vQMsmC5t_0fzUD698wS8Y
DASHSCOPE_API_KEY=sk-cbb6af8a3be5490090917d2dd5b33aba
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_MODEL_ID=qwen3-32b
